# **PART 2 - Data Analysis**

# **Import Libraries**

In [2]:
import pandas as pd

In [10]:
# Extract Data Frames created with IBGE data

desempregobr = pd.read_csv('porcentagem.csv')
empregados = pd.read_csv('empregados.csv')
desempregados = pd.read_csv('desempregados.csv')

In [11]:
desempregobr.head()

    Ano Taxa de Ocupação Taxa de Desocupação
0  2019           87.28%              12.72%
1  2020           87.77%              12.72%

In [7]:
empregados.head()

           Region  1º trimestre 2018  4º trimestre 2019   1º trimestre 2020
0            Pará               51.8                53.0               52.2
1  Rio de Janeiro               51.6                51.9               50.8
2       São Paulo               58.1                59.7               58.0

In [8]:
desempregados.head()

           Region  1º trimestre 2018  4º trimestre 2019   1º trimestre 2020
0            Pará                6.7                 5.4                6.2
1  Rio de Janeiro                9.3                 8.3                8.6
2       São Paulo                9.1                 7.7                8.1