<a href="https://colab.research.google.com/github/carolvieirav/Labs/blob/master/data_cleaning_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning

In [0]:
import pandas as pd

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [0]:
users = pd.read_csv('/content/users.csv', sep='#')

## Check its shape

See the number of rows and columns you're dealing.

## Use the .head() to see some rows of your dataframe.

In [3]:
users.shape
users.head(3)

   Id Reputation         CreationDate  ... AccountId   Age ProfileImageUrl
0  -1          1  2010-07-19 06:55:26  ...      -1.0   NaN             NaN
1   2        101  2010-07-19 14:01:36  ...       2.0  37.0             NaN
2   3        101  2010-07-19 15:34:50  ...       3.0  35.0             NaN

[3 rows x 14 columns]

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

In [4]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46242 entries, 0 to 46241
Data columns (total 14 columns):
Id                 46242 non-null object
Reputation         46092 non-null object
CreationDate       46088 non-null object
DisplayName        46082 non-null object
LastAccessDate     46088 non-null object
WebsiteUrl         8779 non-null object
Location           12892 non-null object
AboutMe            10371 non-null object
Views              46086 non-null float64
UpVotes            46085 non-null float64
DownVotes          46085 non-null float64
AccountId          46085 non-null float64
Age                9172 non-null float64
ProfileImageUrl    21456 non-null object
dtypes: float64(5), object(9)
memory usage: 4.9+ MB

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [0]:
users = users.rename(columns={'Id':'user_id'})

# Import the `posts.csv` dataset.

Note that this is a `gzip compressed csv`. In order to read this file correctly, you'll have to read the documentation (or help) of your `pd.read_csv()` function and check the `compression` argument. Try to understand which value of `compression=...` you should put in order to read your dataframe.

In [0]:
posts = pd.read_csv('/content/posts.csv')

## Perform the same as above to understand a bit of your data (head, info, shape)

In [0]:
posts.head()
posts.info()
posts.shape

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [40]:
posts = posts.rename(columns={'PostId':'post_id','userId':'user_id'})
posts.head()

   Unnamed: 0  post_id  user_id  Score  ViewCount  CommentCount
0           0        1      8.0     23     1278.0             1
1           1        2     24.0     22     8198.0             1
2           2        3     18.0     54     3613.0             4
3           3        4     23.0     13     5224.0             2
4           4        5     23.0     81        NaN             3

## Define new dataframes for users and posts with the following selected columns:

**users columns**: user_id, Reputation, Views, UpVotes, DownVotes  
**posts columns**: post_id, Score, user_id, ViewCount, CommentCount, Body

In [0]:
new_users = users[['user_id', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
new_posts = posts[['post_id', 'Score', 'user_id', 'ViewCount', 'CommentCount']]

**Note:** Check the new posts dataframe's info. What is the most noticeable change? 

Explain why we have chosen only some columns of it in terms of efficiency.

# Merge the new dataframes you have created, of users and posts. Create a dataframe called `posts_from_users`

You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 

Think carefully which should be the key(s) for your merging.

In [0]:
new_posts = new_posts._get_numeric_data()

In [82]:
posts_from_users = new_users.merge(right = new_posts, on='user_id')

ValueError: ignored

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

## Find those duplicate values and try to understand what happened.

*Hint:* You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.

*Hint 2:* You can sort the values `by=['user_id', 'post_id']` to see them in order.

## Should you drop it? If you think it is reasonable to drop it, then drop it.

Think: How would you correct it in the first place? That is, what was wrong in the first place?

*Hint:* There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.

## 10. How many missing values do you have in your merged dataframe? On which columns?

## Select only the rows in which there at least some missing values.

## You will need to make something with missing values.  Will you clean or filling them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

## Adjust the data types in order to avoid future issues. Which ones should be changed?

# Bonus 1: (filtering) What is the average number of comments for users who are above the average reputation?

*Hint:* Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > {avg_reputation}` and etc.

*Hint 2:* You could create a variable based on that condition and use the group by function perform the task above.

# Bonus 2: (grouping) Group your dataframe by the Reputation of your user. Calculate the mean value of ViewCount and CommentCount for each reputation value.

Suppose the missing values on ViewCount are due a systemic error and you wanted to guess what values should have been there in the first place, but the system abended.

Would that be an interesting candidate for inputting the value for the missing `ViewCount` values? If so, input it with these values.

## refs

Sample database used: https://relational.fit.cvut.cz/dataset/Stats

Stack-overflow database: https://www.brentozar.com/archive/2015/10/how-to-download-the-stack-overflow-database-via-bittorrent/