<a href="https://colab.research.google.com/github/carolvieirav/Labs-and-Projects-Ironhack---DTFT-2020-Jun-/blob/master/Linear_Regression_Project_First_Deliverable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
diamonds = pd.read_csv('/content/diamonds.csv').reset_index(drop=True)

In [15]:
rick_diamonds = pd.read_csv('/content/rick_diamonds.csv').reset_index(drop=True)

In [13]:
diamonds.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [16]:
rick_diamonds.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.91  Very Good     H     SI2   63.4   57.0  6.10  6.18  3.89
1   0.38       Good     F     VS2   60.3   61.0  4.68  4.71  2.83
2   0.52      Ideal     H     VS2   61.8   56.0  5.19  5.16  3.20
3   1.10      Ideal     G     VS1   61.3   56.0  6.65  6.69  4.09
4   2.28      Ideal     G     SI2   61.6   57.0  8.44  8.37  5.18

In [17]:
dmean = diamonds['price'].mean()
dmean

3934.409644462607

In [18]:
diamonds['price_predicted'] = dmean
diamonds.head()

   carat        cut color clarity  ...     x     y     z  price_predicted
0   0.21    Premium     E     SI1  ...  3.89  3.84  2.31      3934.409644
1   0.23       Good     E     VS1  ...  4.05  4.07  2.31      3934.409644
2   0.29    Premium     I     VS2  ...  4.20  4.23  2.63      3934.409644
3   0.31       Good     J     SI2  ...  4.34  4.35  2.75      3934.409644
4   0.24  Very Good     J    VVS2  ...  3.94  3.96  2.48      3934.409644

[5 rows x 11 columns]

In [19]:
rick_diamonds['price_predicted'] = dmean
rick_diamonds

      carat        cut color clarity  ...     x     y     z  price_predicted
0      0.91  Very Good     H     SI2  ...  6.10  6.18  3.89      3934.409644
1      0.38       Good     F     VS2  ...  4.68  4.71  2.83      3934.409644
2      0.52      Ideal     H     VS2  ...  5.19  5.16  3.20      3934.409644
3      1.10      Ideal     G     VS1  ...  6.65  6.69  4.09      3934.409644
4      2.28      Ideal     G     SI2  ...  8.44  8.37  5.18      3934.409644
...     ...        ...   ...     ...  ...   ...   ...   ...              ...
4995   0.30  Very Good     D     SI2  ...  4.25  4.30  2.66      3934.409644
4996   0.51      Ideal     F    VVS2  ...  5.09  5.14  3.16      3934.409644
4997   1.01  Very Good     F     SI1  ...  6.37  6.43  3.88      3934.409644
4998   0.31      Ideal     F    VVS1  ...  4.35  4.38  2.71      3934.409644
4999   0.33      Ideal     E     VS2  ...  4.45  4.48  2.76      3934.409644

[5000 rows x 10 columns]

In [20]:
from sklearn.metrics import mean_squared_error

In [22]:
rmse = np.sqrt(mean_squared_error(diamonds['price'], diamonds['price_predicted']))
rmse

3989.293102899151

In [23]:
rick_diamonds.to_csv('rickd_update.csv')

In [24]:
pd.read_csv('rickd_update.csv')

      Unnamed: 0  carat        cut color  ...     x     y     z  price_predicted
0              0   0.91  Very Good     H  ...  6.10  6.18  3.89      3934.409644
1              1   0.38       Good     F  ...  4.68  4.71  2.83      3934.409644
2              2   0.52      Ideal     H  ...  5.19  5.16  3.20      3934.409644
3              3   1.10      Ideal     G  ...  6.65  6.69  4.09      3934.409644
4              4   2.28      Ideal     G  ...  8.44  8.37  5.18      3934.409644
...          ...    ...        ...   ...  ...   ...   ...   ...              ...
4995        4995   0.30  Very Good     D  ...  4.25  4.30  2.66      3934.409644
4996        4996   0.51      Ideal     F  ...  5.09  5.14  3.16      3934.409644
4997        4997   1.01  Very Good     F  ...  6.37  6.43  3.88      3934.409644
4998        4998   0.31      Ideal     F  ...  4.35  4.38  2.71      3934.409644
4999        4999   0.33      Ideal     E  ...  4.45  4.48  2.76      3934.409644

[5000 rows x 11 columns]