<a href="https://colab.research.google.com/github/carolvieirav/Labs/blob/master/main_bonus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [0]:
# your code here
import numpy as np
import pandas as pd

#### 2. Create a Pandas Series containing the elements of the list below.

In [0]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [0]:
# your code here
pd.Series(lst)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [0]:
# your code here
pd.Series(lst)[2]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [0]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [0]:
# your code herepd
pd.DataFrame(b)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

#### 5. Rename the data frame columns based on the names in the list below.

In [0]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [0]:
# your code here
pd.DataFrame(b, columns=colnames)
b

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [0]:
# your code here
subset_b = pd.DataFrame(b[['Score_1', 'Score_3']], columns= b['0':'5'])
subset_b

TypeError: ignored

#### 7. From the original data frame, calculate the average Score_3 value.

In [0]:
# your code here
pd.DataFrame(b[['Score_3']]).mean

<bound method DataFrame.mean of    Score_3
0     67.5
1     30.8
2     44.2
3     96.1
4     85.4
5      0.1
6     95.0
7     53.8
8     53.4
9     43.2>

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [0]:
# your code here

pd.DataFrame(b[['Score_4']]).max()

Score_4    88.8
dtype: float64

#### 9. From the original data frame, calculate the median Score 2 value.

In [0]:
# your code here
pd.DataFrame(b[['Score_2']]).median

<bound method DataFrame.median of    Score_2
0     95.0
1     40.8
2     73.2
3      0.1
4     20.5
5     69.0
6     40.7
7     26.4
8     96.4
9     39.0>

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [0]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [0]:
# your code here
df_orders = pd.DataFrame(orders)
df_orders = df_orders.set_index('Description')
df_orders

                                    Quantity  UnitPrice  Revenue
Description
LUNCH BAG APPLE DESIGN                     1       1.65     1.65
SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
RIBBON REEL STRIPES DESIGN                 1       1.65     1.65
WORLD WAR 2 GLIDERS ASSTD DESIGNS       2880       0.18   518.40
PLAYING CARDS JUBILEE UNION JACK           2       1.25     2.50
POPCORN HOLDER                             7       0.85     5.95
BOX OF VINTAGE ALPHABET BLOCKS             1      11.95    11.95
PARTY BUNTING                              4       4.95    19.80
JAZZ HEARTS ADDRESS BOOK                  10       0.19     1.90
SET OF 4 SANTA PLACE SETTINGS             48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [55]:
# your code here
pd.DataFrame(df_orders[['Quantity','Revenue']]).sum

<bound method DataFrame.sum of                                     Quantity  Revenue
Description
LUNCH BAG APPLE DESIGN                     1     1.65
SET OF 60 VINTAGE LEAF CAKE CASES         24    13.20
RIBBON REEL STRIPES DESIGN                 1     1.65
WORLD WAR 2 GLIDERS ASSTD DESIGNS       2880   518.40
PLAYING CARDS JUBILEE UNION JACK           2     2.50
POPCORN HOLDER                             7     5.95
BOX OF VINTAGE ALPHABET BLOCKS             1    11.95
PARTY BUNTING                              4    19.80
JAZZ HEARTS ADDRESS BOOK                  10     1.90
SET OF 4 SANTA PLACE SETTINGS             48    60.00>

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [0]:
# your code here
pd.DataFrame(df_orders['UnitPrice']).max
pd.DataFrame(df_orders['UnitPrice']).min

# BONUS

#### 1 Create a random dataframe containing 3 columns and 10 rows. 

*Hint: You'll have to use a `numpy.random` method to create random observations*

In [0]:
# your code here

#### 2 Create a random dataframe containing 3 columns and 10 rows with specific column names. 

Use `['column1', 'column2', 'column3']` as the column names.

In [0]:
# your code here

#### 3 Create a random dataframe containing N columns and M rows with specific column names.

For this task you'll have to name the columns as `['column1', 'column2', 'column3', ...,'columnN']`. You can use a list comprehension to do that.

In [0]:
N = 10
M = 30

# your code here